/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #0b76a6;
  --secondary-color: #626a74;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.h1{
  font-size: 2em;
  font-weight: bold;
}

.h2{
  font-size: 1.5em;
}

.h3{
  font-size: 1.17em;
}

.pcontext{
  font-size: 1em;
}

/* Header Styles */

.sector-container{
  display: flex;
  width: 100%;
  background-color: white;
}

#logo-container {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100px;
  width: 20%;
  padding-left: 2.5%;
  background-color: var(--secondary-color);
}

#menu-container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: var(--secondary-color);
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}
			
nav ul li a {
	display: block;
	padding: 0 50px;
    font-size: 18px;
	text-decoration: none;
    color: rgb(255, 255, 255);
}
			
nav ul li a:hover {
	background: #a9b8c9;
    transition: 1s;
}

/* Carousel Styles */

#carousel-section{
    height: 100vh;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    height: 100%;
}

.carousel-photo-container{
    height: 100%;
}

.arrows-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

i{
    color: black;
    font-size: 3em;
}

/* About us */

.about-us-context{
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.about-us-section{
    
}

.about-us-section-text {
    display: flex;
    width: 60%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}